* {
	box-sizing: border-box;
	--moz-box-sizing: border-box;
	font-family: sans-serif;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


#toolbar{
	width: 100%;
	height: 50px;
	padding: 10px;
	position: fixed;
	top: 0;
	background-color: #2f2f2f;
	color: white;
	z-index: 3;
}

.radctrl{
	width: 30px;
	height: 30px;
	background-color: #4f4f4f;
	display: inline-block;
	text-align: center;
	padding: 3px;
}
#radval{
	width: 30px;
	display: inline-block;
}
#swatch{
	font-size: 0.4em;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2pxrgba(0, 0, 0, 0.5);
	display: inline-block;
	margin-left: 10px;
	background-color: cyan;
}
#ghost{
	position: absolute;
  	background: transparent;
  	z-index: 2;
}
#canvas{
	position: absolute;
  	z-index: 1;
}

.swatch.active{
	border: 2px solid white;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}
#newCanvas, #save, #undo, #redo{
	float: right;
	margin-right: 20px;
	height: 30px;
	padding: 8px;
	border-radius: 10px;
	background-color: #434343;
}
#tools{
	float: left;
	margin-left: 20px;
	height: 30px;
	padding: 3px;
	border-radius: 10px;
	background-color: #434343;
}
#save:hover, #newCanvas:hover, #undo:hover, #redo:hover{
	background-color: #818181;
}
